[Unit]
Description="Download latest GE Proton"

[Service]
ExecStart=/home/deck/Scripts/steamdeck-tweaks/ge-proton-manager/ge-proton-manager.py latest
